*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.2s linear
}
body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 14px;
    background-color: aliceblue;
}
main{
    padding: 20px;
    min-height: 100vh;
}
button{
    padding: 5px 11px;
    border: none;
    background-color: black;
    color: white;
}
a{
    text-decoration: none;
    color: inherit;
    padding: 7px 13px;
}
.dark-header{
    color:white;
    background-color: rgb(0,0,0,0.815);
}
.dark-mode-btn{
    background-color: aliceblue;
    color: black;
}
.dark-main{
    
    background-color: rgb(56,54,58);
    color:aliceblue;
}

.modal{
    position: fixed;
    inset:0;
    background-color: rgba(0,0,0,0.454);
    z-index: 100;
}
.modal form{
    background-color: white;
    width:40%;
    padding:20px;
    border-radius: 11px;
    display: flex;
    flex-direction: column;
    margin:100px auto;
    gap:18px;
}
.modal button[type="button"]{
align-self: flex-end;
background-color: red;
color: aliceblue;

}
.modal input,.modal button{
    border-radius: 8px;
    padding:10px;
    font: inherit;

}
.modal button[type="submit"]{
    background-color: green;
    color: white;

    
}
.hidden{
    display:none;
} 